<div id="page" class="row" ng-controller="MainCtrl">
    <div class="col-sm-2">
        <ul class="list-unstyled">
            <li ng-repeat="benchmark in benchmarks" class="breadcrumb" ng-class="{active: benchmark == $parent.benchmark}">
                <a ng-click="selectBenchmark(benchmark)">{{ benchmark.name }}</a>
            </li>
            <li class="breadcrumb">
                <a ng-click="$emit('openExperimentRunner')">Run New Experiment</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-8" ng-include="partialUrl + '/benchmark-view.html'" ng-controller="BenchmarkViewCtrl">
    </div>
    <div class="col-sm-2">
        <ul class="list-unstyled">
            <li ng-repeat="instance in benchmark.data" class="breadcrumb" ng-class="{active: benchmark.isActive(instance)}">
                <a ng-click="benchmark.toggleActive(instance)">{{ instance.backendName }} {{ instance.backendVersion }}</a>
            </li>
        </ul>
    </div>
</div>

<div ng-controller="ExperimentRunnerCtrl">
    <!-- Modal -->
    <div bs3-modal="shouldBeOpen" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Run a New Experiment</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <h3>Backend</h3>
                        <div class="row">
                            <div class="col-lg-6">
                                Name:
                                <input ng-model="data.backend.name" placeholder="Octave" class="form-control" />
                            </div>
                            <div class="col-lg-6">
                                Version:
                                <input ng-model="data.backend.version" placeholder="3.4.3" class="form-control" />
                            </div>
                        </div>

                        <h3>Benchmark</h3>
                        <div class="row">
                            <div class="col-lg-6">
                                Name:
                                <input ng-model="data.benchmark.name" placeholder="escoufier" class="form-control" />
                            </div>
                            <div class="col-lg-6">
                                Version:
                                <input ng-model="data.benchmark.version" placeholder="1.0" class="form-control" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-6">
                                Iteration:
                                <input ng-model="data.benchmark.iteration" placeholder="3" class="form-control" />
                            </div>
                            <div class="col-lg-6">
                                Scale:
                                <input ng-model="data.benchmark.scale" placeholder="22" class="form-control" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="sendRunCommand()">Run Experiment</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>