table {
  width: 100%;
}

td {
  width: 50%;
  border: 1px solid black;
}

tr {
}

.lexicon ul{
  list-style-type: none;
  clear: both;
  box-shadow:  inset 0 1px rgba(0,0,0,0.05);
}

.lexicon ul li {
  float: left;
  padding: 0.5em;
  margin: 0.5em;
  box-shadow:  inset 0 1px rgba(0,0,0,0.05);
  border:2px solid black !important;
  border-radius: 15px;
  width: 20em;
}

.lexicon .definition {
 font-style: italic;
}

.lexicon .utteranceContext {
 font-style: italic;
}

.lexicon .headword {
  font-weight: bold;
  padding-right: 0.2em;
}

.lexicon dl {
 box-shadow:  inset 0 1px rgba(0,0,0,0.05);
 width: 100%;
 overflow:hidden;
}

/*
dd:nth-of-type(odd) {   background-color: #333}
dl:nth-of-type(odd) {  background-color: #ccc }​*/


.lexicon dt {
  padding: 0;
  margin: 0;
  float:left;
  width:40%; 
  color: #ccc;
}

.lexicon dd {
  padding: 0;
  margin: 0;
  float:left;
  width:55%; 
}

.utterance {
 color: #ccc;
 background-color: #323245;
}

.morphemes {
 color: #ccc;
 background-color: #353535;
}

.gloss {
 color: #ccfcfc;
 background-color: #454545;
}

.confidence {
 color: #999;
 background-color: #232323;
}

[contenteditable="true"]:focus{
  color: #fff;
}

/* D3 force directed graph */
circle.node {
	stroke: #fff;
	stroke-width: 1.5px;
}

line.link {
	stroke-opacity: .6;
}


.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

#licensing {
  fill: green;
}

.link.licensing {
  stroke: green;
}

.link.resolved {
  stroke-dasharray: 0,2 1;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}
/*
text {
  color: #fff;
  background-color: #333;
  opacity: .5;
  }*/

  .distance2{
    opacity: 0.2;
  }


  .distance3{
    opacity: 0.1;
  }
